#the result directory should never be considered
results/

#private model files not public

models/private/
docs/.ipynb_checkpoints/

*.pyc
*.m
*.nb
change_matrices.py
contraction-15-15-15-s.py
update-database.py
.ipynb_checkpoints/
combine-database.py
CGCsnewsu2v34.py
*.pickle
*.DS_Store
*.swp
#logfiles
logFile*.log
.idea
RunPyRate_RGEs.m_bck
RGEsmathModule.py_bck
*.pickle
ToToolbox.ipynb
BuildupDatebase-Susynov3.py
BuildupDatebase.py
add-contraction-to-db-pklz.py
add-contraction-to-db.py
combine-database-separate-groups.py
