#the result directory should never be considered
results/

#private model files not public
#

models/private/

#all .pyc
#
*.pyc
*.m
*.nb

change_matrices.py
contraction-15-15-15-s.py
update-database.py
.ipynb_checkpoints/
combine-database.py
CGCsnewsu2v34.py
*.pickle
*.DS_Store
*.swp
#logfiles
logFile*.log
.idea
.ipynb_checkpoints
test*
RunPyRate_RGEs.m_bck
RGEsmathModule.py_bck
*.pickle
